
.parent-box {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    /*margin: 2rem;*/
    border: 10px solid #aeaeae;
}


body {
    margin: 0;
}

.box {
    width: 200px;
    height: 180px;
    color: #fff;
    text-align: center;
    line-height: 180px;
}
.box:nth-child(1) {
    z-index: 10;
    background-color: #7045cf;
    position: absolute;
    left: 0;
    top: 0;
}
.box:nth-child(2) {
    z-index: 20;
    background-color: #ffd219;
    position: absolute;
    right: 0;
    top: 0;
 }
.box:nth-child(3) {
    z-index: 30;
    background-color: #3fb5c8;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*가운데 정렬*/
.box:nth-child(4) {
    z-index: 40;
    background-color: #fe4940;
    position: absolute;
    /*top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -100px;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    }

.box:nth-child(5) {
    z-index: 50;
    background-color: #22b661;
    position: absolute;
    right: 0;
    bottom: 0;
 }

/*.target {
    position: relative;
    right: -200px;
    bottom: -180px;
}*/

.menu::after {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
    

}